
*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

/*    Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
/* Styles */
           .mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
    text-align: center;
} p{font-size: 15px!important;}
    h1{font-size: 40px!important;}
.navbar-nav{
background-color: rgba(0,0,0,0.5);
/*right: 50px!important;*/
    width: 450px!important;
padding: 0px 50px;
}
    #btn-toggler{
        padding-left: 10px!important;
       right: 50%!important;
    }
    .home nav{

top: 5px!important;
padding: 0px!important;;


}

.home{
width:455px;
}
.caption{
top: 44%!important;
left: 10%!important;
}
h1{font-size: 1.5rem!important;

}
p{
font-size: 0.8rem!important;
}

.caption p{ font-size: 0.8rem!important;
padding-bottom: 3%!important;
text-align: center;}

.caption h1{font-size: 1.5rem!important;
padding-bottom: 5%!important;
text-align: center;}

#section-one{ padding-left: 0px!important;
padding-right: 0px!important;}
.web-development p{
width: 300px;
}
#section-two{
width: 455px;
padding-left: 0px!important;
padding-right: 100px!important;
}

.id-brand p{ font-size: 1.5rem;!important}

.id-brand h1{font-size: 1rem;!important}

#section-three{ 
padding-right: 100px!important;
}
#section-four{
    padding-left: 0%!important;
padding-right: 0px!important;
width: 455px;
}
.blockquote {
width: 90%!important;
    padding-top: 5px!important;
}
    .client-middle{
         padding-left: 10%!important; 
    }
    .img-cl{
        padding-left: 15%!important; 
        padding-bottom: 5%!important;
    }

#section-five{
padding:5% 0% 5% 30%!important;

}
    .blockquote-footer{
        font-size: 0.3rem;!important
    }


font-size: 26px;

.contact{ padding: 0%;}

#section-six{
width: 455px;
}
.bottomteam{ padding: 0px!important;
}

.cards{
padding-bottom: 10em!important;
}
#section-seven{
width: 455px;
}
.card-deck{
padding-left: 70px;
}
#footer{
width: 455px;

}


}


/*    tblet*/
@media only screen and (min-device-width : 768px) and  (max-device-width: 1024px) {
#section-one{  padding-left: 0px!important; 
padding-right: 0px!important;}
#section-two{ padding-left: 0px!important;
padding-right: 0px!important;
}    .navbar-nav{
background-color: rgba(0,0,0,0.5);
}

#section-three{ 
padding-left: 3%;
padding-right: 0px;
}
#section-four{ 
padding-left: 3px!important;;
padding-right: 0px!important;
}
.speech{

padding-left: 0px!important;
padding-right: 0px!important;
width: 302px!important;

}
.blockquote {
/*width: 80%!important;*/
}
form{
margin-left: 30px!important;
}

#section-six{
padding-left: 100px!important;
padding-right: 100px!important;
}
.bottomteam{

padding: 0px!important;
}
.ficon span{
font-weight: 10px!important}
.card-body{

padding-left: 0px!important;


}
    .card-deck{
        padding-left: 0px!important;

    }

#section-five{


padding: 0px!important;

}



}
